body{
    margin: 0;
}

h1{
    padding: 10px;
    margin: 0;
}

.text{
margin: 0;
padding: 20px;
}

header{
    height: 100% ; /*Высота блока*/
    background-color: rgb(195, 219, 124) ;/*цвет фона*/
    color: rgb(135, 88, 88);/*цвет текста*/
    text-align: center;
    font-size: 30px;
    background-image: url(https://elements-cover-images-0.imgix.net/eb02295d-b848-4e5d-9c6f-3039acf2ecb7?auto=compress%2Cformat&w=900&fit=max&s=448c35529f37435312aec5eba91f3d6b);
    background-size: cover;
    background-position: bottom;
    text-shadow: 1px 5px 20px rgb(0, 0, 0);
}

main{
    height: 1000%;
    background-color: rgb(33, 16, 16);
    color: rgb(135, 88, 88);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    display: flex;
}

.left{
    width: 50%;
    text-align: justify;
}

.right{
    width: 50%;
    text-align: center;
}


footer{
    height:400px;
    background-color: rgb(86, 53, 13);
    color: rgb(135, 88, 88);
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.social img{
    width: 80px;
    padding-left: 10px ;
}

.social{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
}
